.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: rgba(48, 47, 47, 0.41);
    color: black;
    text-align: center;
}

.logo{
    width: 10%;
}